body{
    background-color:#EAF6F6;
    width:90%;
}

h1 a{
    color:#66BFBF;
}

h2{
    color:#66BFBF;
}

hr{
    color:rgb(158, 150, 150);
    height:none;
    border:none;
    border-top:dotted 5px;
    width:5%;
}